body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background:white;
    font-weight:bold;
    width: 300 px;
    padding: 20px;
    border-radius: 25px;
    justify-content: center;
    
    
}
.highlight{
    background-color: yellow;
}
.div {
   padding-left: 90px;
}
